
/* --Common styles-- */

*, *:before, *:after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul{
    padding: 0;
    margin:0;
    list-style: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

li{
    padding: 0
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.error{
    font-family: sans-serif;
    color: red;
    font-size: 14px;
}

.errors{
    font-family: sans-serif;
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.wrapper{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    min-height: 70px;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(36, 36, 36);
}

.header .container{
    height: 100%;
}

.header .header__wrap{
    height: 100%;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-btns{
    margin-left: auto;
    display: flex;
}

.auth-btn{
    font-family: sans-serif; 
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    margin-right: 10px;
    color: rgb(244, 246, 247);
    padding: 5px 0;
}

#registration-btn{
    padding-left: 10px;
    border-left: 1px solid #fff; 
    margin-right: 0;
}

.main-content{
    flex-grow: 1;
    background-color: rgb(244, 246, 247);
}

/* --Modal Styles-- */

.modal{
    position: relative;
    width: 100%;
    max-width: 400px;
    display: none;
}

.modal__close{
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal.active{
    display: block;
}

/* --Form Page Styles-- */

.form{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 7px;
    box-shadow: 0 15px 30px rgb(36, 36, 36, 0.5);
}

.form__label{
    display: block;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color: rgb(244, 246, 247);;
    margin-bottom: 15px;
}

.form__label:last-child{
    margin-bottom: 0;
}

.form__inputs-group{
    margin-bottom: 30px;
}
    
.form__title{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
    color: rgb(244, 246, 247);
    margin-bottom: 15px;
}

.form__input{
    padding: 8px 10px;
    width: 100%;
    margin-top: 10px;
    display: block;
}

.form__button{
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 16px;
    background-color: rgb(244, 246, 247);
    border-radius: 5px;
    color: rgb(36, 36, 36);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --Authorization  Page Styles-- */

.authorization{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --Admin Page Styles-- */

.admin{
    display: flex;
}

.admin__table{
    color: rgb(36, 36, 36);
    font-family: sans-serif;
}

.admin__navbar{
    width: 300px;
    background: rgb(36, 36, 36);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.admin__navbar-list{
    margin-top: 30px;
}

.admin__navbar-list-item{
    position: relative;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-left: 8px;
    border-bottom: 1px solid #fff;
}

.admin__navbar-list-item.active:before{
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: rgb(244, 246, 247);
    border-radius: 50%;
}

.admin__navbar-list-btn{
    font-family: sans-serif; 
    letter-spacing: 1px;
    color: rgb(244, 246, 247);
    font-size: 14px;
    font-weight: bold;
}

.admin__content{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}