{% extends 'templates/main.html' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <img src ="views/assets/img/logo.svg" class="logo"></img>
                <div class="auth-btns">
                    <button class="auth-btn modal-btn" id="login-btn">Войти</button>
                    <button class="auth-btn modal-btn" id= "registration-btn">Регистрация</button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="modal active" id="modal-login">
            <form class = "form login-form">
                <h3 class="form__title">Войти</h3>
                <div class="form__inputs-group">
                    <label class="form__label">Логин
                        <input class="form__input" required type="text" name="username">
                    </label class="form__label">
                    <label class="form__label">Пароль
                        <input class="form__input" required type="password" name="password">
                    </label>
                </div>
                <button class="form__button" type="submit">Войти</button>
            </form>
        </div>
        <div class="modal" id="modal-registration">
            <form class = "form registration-form">
                <h3 class="form__title">Зарегистрироваться</h3>
                <div class="form__inputs-group">
                    <label class="form__label">Логин
                        <input class="form__input" required type="text" name="username">
                    </label>
                    <label class="form__label">Email
                        <input class="form__input" required type="email" name="email">
                    </label>
                    <label class="form__label">Пароль
                        <input class="form__input" required type="password" name="password">
                    </label>
                </div>
                <button class="form__button" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div> 
{% endblock %}