{% extends 'templates/main.html' %}

{% block title %}Authorization{% endblock %}

{% block body %}
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="\"><img src ="/views/assets/img/logo.svg" class="logo"></img></a>
                <div class="auth-btns">
                    <button class="auth-btn modal-btn" id="login-btn">Login</button>
                    <button class="auth-btn modal-btn" id= "registration-btn">Sign up</button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content authorization">
        <div class="modal" id="modal-login">
            <button class = "modal__close" id = "modal-login-close"><img src="views/assets/img/close-btn.svg"></button>
            <form class = "form login-form" id = "login-form">
                <h3 class="form__title">Login</h3>
                <div class="form__inputs-group">
                    <label class="form__label">Email
                        <input class="form__input" required type="text" name="email">
                    </label class="form__label">
                    <span class="error"></span>
                    <label class="form__label">Password
                        <input class="form__input" required type="password" name="password">
                    </label>
                </div>
                <button class="form__button" type="submit">Login</button>
                <span class="errors" id = "login-errors"></span>
            </form>
        </div>
        <div class="modal" id="modal-registration">
            <button class = "modal__close" id = "modal-registration-close"><img src="views/assets/img/close-btn.svg"></button>
            <form class = "form registration-form" id = "registration-form">
                <h3 class="form__title">Sign up</h3>
                <div class="form__inputs-group">
                    <label class="form__label">Name
                        <input class="form__input" id="name" type="text" name="name" required>
                        <span class="error" id = "registration-name-error"></span>
                    </label>
                    <label class="form__label">Phone
                        <input class="form__input" type="text" name="phone" required>
                        <span class="error" id = "registration-phone-error"></span>
                    </label>
                    <label class="form__label">Email
                        <input class="form__input" type="email" name="email" required>
                        <span class="error" id = "registration-email-error"></span>
                    </label>
                    <label class="form__label">Password
                        <input class="form__input" type="password" name="password" required>
                    </label>
                </div>
                <button class="form__button" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div> 
{% endblock %}

{% block scripts %} 
<script>
    userData = {{ user_data | raw}};
    session = {{ session | raw}};
</script>
    
{% endblock %}