<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/views/assets/css/style.css">
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/views/assets/js/libs/jquery-3.4.1.min.js"></script>
    <script src="/views/assets/js/libs/jquery.validate.min.js"></script>
    <script src="/views/assets/js/libs/additional-methods.min.js"></script>
    <script src="/views/assets/js/Modal.js"></script>
    <script src="/views/assets/js/validation.js"></script>
    <script src="/views/assets/js/index.js"></script>
</body>
</html>